export PASSWORD=
export SERVER=

export CREDNAME=
export KUBEUSERNAME=
export KUBEADDRESS=
export KUBENAME=
export KUBEPORT=

export KUBEPASSWORD=$(kubectl get secret -n powerprotect $(kubectl get serviceaccount \
-n powerprotect ppdm-discovery-serviceaccount -o jsonpath='{.secrets[0].name}') \
-o jsonpath='{.data.token}' | base64 -d)

